<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">
    <%= image_tag("image.jpg", style: "border-radius: 50%; width: 50px;
    height: 50px") %> Admin
  </a><hr>
  <a href="#">Trang điều khiển</a><br>
  <a href="#">Người dùng</a><br>
  <a href="#">Sách</a><br>
  <a href="#">Bình luận</a>
</div>

<div id="main">
  <span style="font-size:24px;cursor:pointer" onclick="openNav()">&#9776; Dashboard</span>
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-3 col-md-3">
      <div class="panel panel-default bg-yellow update-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <h3><%= count_online %></h3>
              <h4>người online</h4>
            </div>
            <div class="col-sm-3 col-md-3" style="float: right">
              <i class="fa fa-user" style="font-size: 50px; float: right;
                position: relative; top: 25px; color: #fe9365;"></i>
            </div>
          </div>
          <hr>
          <h4>Tổng số <%= count_user %> người</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="panel panel-default bg-green update-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <h3><%= book_released %></h3>
              <h4>sách đăng</h4>
            </div>
            <div class="col-sm-3 col-md-3" style="float: right">
              <i class="fa fa-address-book" style="font-size: 50px; float: right;
                position: relative; top: 25px; color: #0ac282;"></i>
            </div>
          </div>
          <hr>
          <h4>Tổng số <%= count_book %> sách</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="panel panel-default bg-pink update-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <h3><%= count_comment %></h3>
              <h4>bình luận</h4>
            </div>
            <div class="col-sm-3 col-md-3" style="float: right">
              <i class="fa fa-comment" style="font-size: 50px; float: right;
                position: relative; top: 25px; color: #fe5d70;"></i>
            </div>
          </div>
          <hr>
          <h4>Tổng số <%= book_has_cmt %> sách</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="panel panel-default bg-blue update-panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <h3><%= count_like %></h3>
              <h4>lượt thích</h4>
            </div>
            <div class="col-sm-3 col-md-3" style="float: right">
              <i class="fa fa-thumbs-up" style="font-size: 50px; float: right;
                position: relative; top: 25px; color: #01a9ac;"></i>
            </div>
          </div>
          <hr>
          <h4>Tổng số <%= book_has_like %> sách</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 60px">
    <div class="col-sm-7 col-md-7" style="background-color: #f3f3f3">
      <h3>Thống kê dữ liệu</h3>
      <canvas id="myChart" width="300" height="300" style="padding: 20px"></canvas>
    </div>
    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-4 col-md-4" style="background-color: #f3f3f3">
      <h3>Lịch sử người dùng</h3>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A và bài viết B, cùng với đó đã follow thể
          loại C và comment vào cuốn sách D.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <%= image_tag("image.jpg", class: "media-object", style: "width:60px") %>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Admin</h4>
          <p>Admin đã thích bài viết A và bài viết B, cùng với đó đã follow thể
          loại C và comment vào cuốn sách D.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}

var ctx = document.getElementById("myChart").getContext("2d");
var myChart = new Chart(ctx, {
    type: "bar",
    data: {
        labels: ["User", "Category", "Book", "Chapter", "Comment", "Like"],
        datasets: [{
            label: "số lượng",
            data: [<%= count_user %>, <%= Category.count %>, <%= count_book %>, <%= Chapter.count %>, <%= count_comment %>, <%= count_like %>],
            backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)"
            ],
            borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)"
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
