<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
=======
    <title>ReadingBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
>>>>>>> cbb8985f37cb571bba4536b814d193f5f6722788
  </body>
</html>
